<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="theme.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script type="text/javascript" src='node_modules/angular-resource/angular-resource.min.js'></script>
  <script type="text/javascript" src='node_modules/angular-ui-router/build/angular-ui-router.min.js'></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-app="hsgApp" ng-controller="StudentCreateController">
<div id="first">  </div>
<div class="col-xs-12 logo">
  <img src="logo.png" width="300" height="70" alt="">
</div>
    <div class="form-container">
      <form  name="studentForm" ng-submit="addStudent()">
          <div class="form-group col-xs-6">
            <label for="firstName">First Name</label>
            <div class="input-group col-xs-12" id="firstName">
              <input type="text" ng-model="firstName" class="form-control text-input" id="firstNameInput" placeholder="First name" required>
            </div>
          </div>
          <div class="form-group col-xs-6">
            <label for="lastName">Last Name</label>
            <div class="input-group col-xs-12">
              <input type="text" class="form-control" ng-model="lastName" id="lastNameInput" placeholder="Last name" required>
            </div>
          </div>
        <div class="form-group col-xs-12">
            <label for="exampleInputEmail2">Email</label>
            <div class="input-group col-xs-12">
              <input type="email" class="form-control" ng-model="email" id="emailInput" placeholder="Email" required>
            </div>
        </div>
        <div class="form-group col-xs-6">
          <label for="exam">Academic degree</label>
          <div class="input-group col-xs-12">
            <input type="text" class="form-control" ng-model="exam" id="examInput" placeholder="Academic degree" >
          </div>
        </div>

        <div class="form-group col-xs-6">
          <label for="sel1">Year of graduation</label>
           <select class="form-control" id="yearOfGraduation">
             <option>2016</option>
             <option>2017</option>
             <option>2018</option>
             <option>2019</option>
             <option>2020</option>
           </select>
        </div>
        <div class="form-group smaller">
          <div class="col-xs-12">
            <label for="cityOfInterest">City of interest</label>
          </div>
          <div class="funkyradio {{cityRowBuilder}}" ng-repeat="city in cities">
            <div class="funkyradio-primary">
              <input type="checkbox" name="checkbox" id="{{city.cityName}}" ng-model="city.selected" ng-change="onMaChange()"/>
              <label for="{{city.cityName}}">{{city.cityName}}</label>
            </div>
          </div>
          <div class="col-xs-12">
            <label for="cityOfInterest">Role of interest</label>
          </div>
          <div class="funkyradio {{rolesRowBuilder}}" ng-repeat="role in roles">
            <div class="funkyradio-primary">
              <input type="checkbox" name="checkbox" id="{{role.roleName}}" ng-model="city.selected" ng-change="onMaChange()"/>
              <label for="{{role.roleName}}">{{role.roleName}}</label>
            </div>
          </div>
        </div>
        <div class="subbtm col-xs-12">
          <button type="submit" class="btn btn-primary btn-block"> Submit!</button>
        </div>
      </form>
    </div>
</body>
</html>
