.form-container{
  margin: 0 auto;
  width: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input#firstNameInput{
  border-radius: 5px;
}

input#lastNameInput{
  border-radius: 5px;
}

input#emailinput{
  border-radius: 5px;
}

input#examInput{
  border-radius: 5px;
}

.subbtm{
  margin-top: 20px;
}
div#first{
  background-image: url('CapGemini-TurningTorso.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  opacity:0.4;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0
}
